.open .top {
  transform: translateY(9px) rotate(45deg);
}

.open .middle {
  opacity: 0;
}

.open .bottom {
  transform: rotate(-45deg);
}

.line {
  @apply transition-all duration-300 origin-center;
}