<div class="space-y-5">
  <div class="w-full flex justify-between items-center">
    <div>
      <h2 class="text-2xl font-bold">Inventario</h2>
      <h3 class="text-gray-500">Gestión de Inventario de herrramientas</h3>
    </div>
  </div>

  <div class="flex space-x-10 w-[50%]">
    <div
      class="rounded-lg border border-gray-200 items-center space-x-5 bg-white shadow-sm p-4 flex w-full">
      <div class="bg-blue-400 rounded-lg p-3">
        <app-loader name="tool" hostClass="w-6 h-6 text-gray-800"></app-loader>
      </div>

      <div class="">
        <h2 class="text-2xl font-bold">6</h2>
        <h3 class="text-slate-500">Herramientas</h3>
      </div>
    </div>
    <div
      class="rounded-lg border border-gray-200 items-center space-x-5 bg-white shadow-sm p-4 flex w-full">
      <div class="bg-green-400 rounded-lg p-3">
        <app-loader
          name="active"
          hostClass="w-6 h-6 text-gray-800"></app-loader>
      </div>
      <div class="">
        <h2 class="text-2xl font-bold">5</h2>
        <h3 class="text-slate-500">Herramientas Prestadas</h3>
      </div>
    </div>
    <div
      class="rounded-lg border border-gray-200 items-center space-x-5 bg-white shadow-sm p-4 flex w-full">
      <div class="bg-red-400 rounded-lg p-3">
        <app-loader
          name="inactive"
          hostClass="w-6 h-6 text-gray-800"></app-loader>
      </div>
      <div class="">
        <h2 class="text-2xl font-bold">1</h2>
        <h3 class="text-slate-500">Herramientas Disponibles</h3>
      </div>
    </div>
  </div>

  <div
    class="overflow-x-auto rounded-xl shadow-sm border border-gray-200 bg-white">
    <div class="px-3 py-2">
      <div
        class="flex *:border *:border-gray-200 *:bg-neutral-100 *:cursor-pointer *:disabled:cursor-not-allowed *:disabled:opacity-50 inline-flex rounded-md *:first:rounded-s-md *:last:rounded-e-md overflow-hidden">
        <button (click)="navigate(1)" class="p-1">
          <app-loader name="create" hostClass="h-6 w-6"></app-loader>
        </button>
        <button (click)="onDelete()" [disabled]="canEdit()" class="p-1">
          <app-loader name="delete" hostClass="h-6 w-6"></app-loader>
        </button>
        <button (click)="navigate(2)" [disabled]="canEdit()" class="p-1">
          <app-loader name="edit" hostClass="h-6 w-6"></app-loader>
        </button>
      </div>
    </div>
    <table class="min-w-full border-collapse text-left text-sm text-gray-700">
      <thead class="bg-neutral-100 sticky z-10">
        <tr class="*:px-6 *:py-3 *:font-semibold">
          <th>Nombre</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Serie</th>
          <th>Estado</th>
          <th>Calibración</th>
        </tr>
      </thead>
      <tbody
        class="divide-y divide-gray-200 [&_td]:px-6 [&_td]:py-3 [&_tr]:hover:bg-blue-50 cursor-pointer">
        @for (t of toolsResource.value(); track $index) {
          <tr
            [class.bg-blue-200]="selection().has(t.toolId ?? '')"
            (click)="toggleSelection(t.toolId ?? '')">
            <td>
              <div class="flex gap-3 items-center">
                <div class="overflow-hidden rounded-md shadow-md">
                  <img class="object-cover" [src]="t.toolImg" alt="" />
                </div>
                <span>{{ t.toolName }}</span>
              </div>
            </td>
            <td>{{ t.toolBrand }}</td>
            <td>{{ t.toolModel }}</td>
            <td>{{ t.toolSerial }}</td>
            <td class="text-white">
              @if (t.toolAvailable) {
                <span class="bg-green-600 px-3 py-1 rounded-full">Disponible</span>
              } @else {
                <span class="bg-red-600 px-3 py-1 rounded-full">No disponible</span>

              }
            </td>
            <td>No requiere</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
