/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use 'ngx-toastr/toastr';
@use "@ng-select/ng-select/themes/default.theme.css";

body:has(.modal.block) {
  overflow: hidden;
}
